body {
  background: lightgray;
}

#toolbar {
  margin: 0 10px;
}

.note {
  border: 1px gray solid;
  background: lightyellow;
  margin: 5px;
  padding: 5px;
  overflow-y: scroll;
  max-height: 200px;
  min-width: 200px;
  display: inline-block;
}

.ntitle {
  font-weight: bold;
  font-size: 110%;
}

button, input[type='button'], input[type='submit'] {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}